Everything is based on: 
https://github.com/alemartinello/dstapi

In [2]:
# Start by importing necessary packages
import requests
import pandas as pd
from IPython.display import display
from io import StringIO

from dstapi import DstApi # The helper class

# ENERGI

## Understand data structure and content

In [3]:
# Pass a dictionary of parameters to requests.get()
params = {'id': 'energi1', 'format': 'JSON'}
requests.get('https://api.statbank.dk/v1' + '/tableinfo', params=params).json()

# Use response.post() - note the change in the name of the parameter about the table's name
# I'm also adding here a language parameter - most tables are available in both Danish and English
params = {'table': 'energi1', 'format': 'JSON', 'lang':'en'}
requests.post('https://api.statbank.dk/v1' + '/tableinfo', json=params).json()

{'id': 'ENERGI1',
 'text': 'Prices of electricity for households',
 'description': 'Prices of electricity for households by annual consumption, price definition, energy unit and time',
 'unit': 'Dkk per unit',
 'suppressedDataValue': '0',
 'updated': '2021-10-05T08:00:00',
 'active': True,
 'contacts': [{'name': 'Ole Olsen',
   'phone': '+4539173863',
   'mail': 'olo@dst.dk'}],
 'documentation': {'id': '0ac1bfbb-a6c9-4921-8e1f-fecd4dac68d5',
  'url': 'https://www.dst.dk/documentationofstatistics/0ac1bfbb-a6c9-4921-8e1f-fecd4dac68d5'},
 'footnote': None,
 'variables': [{'id': 'AARSFORBRUG',
   'text': 'annual consumption',
   'elimination': False,
   'time': False,
   'values': [{'id': '1', 'text': 'Consumption below 1 MWh'},
    {'id': '2', 'text': 'Consumption 1.0 - 2.4 MWh'},
    {'id': '3', 'text': 'Consumption 2.5 - 4.9 MWh'},
    {'id': '4', 'text': 'Consumption 5.0 - 14.9 MWh'},
    {'id': '5', 'text': 'Consumption 15 MWh and over'}]},
  {'id': 'PRISDEFINITION',
   'text': 'price definition',
   'elimination': False,
   'time': False,
   'values': [{'id': '20', 'text': 'Price energy og distribution (level 1)'},
    {'id': '21', 'text': 'Price including non-recoverable taxes (level 2)'},
    {'id': '22', 'text': 'Price inkluding paid taxes and VAT (level 3)'}]},
  {'id': 'ENERGIENHED',
   'text': 'energy unit',
   'elimination': False,
   'time': False,
   'values': [{'id': 'KWH', 'text': 'Kilo Watt Hours (kWh)'},
    {'id': 'GJ', 'text': 'Gigajoule (GJ)'}]},
  {'id': 'Tid',
   'text': 'time',
   'elimination': False,
   'time': True,
   'values': [{'id': '2015H1', 'text': '2015H1'},
    {'id': '2015H2', 'text': '2015H2'},
    {'id': '2016H1', 'text': '2016H1'},
    {'id': '2016H2', 'text': '2016H2'},
    {'id': '2017H1', 'text': '2017H1'},
    {'id': '2017H2', 'text': '2017H2'},
    {'id': '2018H1', 'text': '2018H1'},
    {'id': '2018H2', 'text': '2018H2'},
    {'id': '2019H1', 'text': '2019H1'},
    {'id': '2019H2', 'text': '2019H2'},
    {'id': '2020H1', 'text': '2020H1'},
    {'id': '2020H2', 'text': '2020H2'},
    {'id': '2021H1', 'text': '2021H1'}]}]}

In [ ]:
# Using dstapi

In [4]:
household_electricity_prices = DstApi('ENERGI1')

In [12]:
household_electricity_prices.tablesummary(language = 'en')

Table ENERGI1: Prices of electricity for households by annual consumption, price definition, energy unit and time
Last update: 2021-10-05T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,AARSFORBRUG,5,1,Consumption below 1 MWh,5,Consumption 15 MWh and over,False
1,PRISDEFINITION,3,20,Price energy og distribution (level 1),22,Price inkluding paid taxes and VAT (level 3),False
2,ENERGIENHED,2,KWH,Kilo Watt Hours (kWh),GJ,Gigajoule (GJ),False
3,Tid,13,2015H1,2015H1,2021H1,2021H1,True

In [30]:
result = [x for x in household_electricity_prices.tablesummary(language = 'en')['variable name']]
result

Table ENERGI1: Prices of electricity for households by annual consumption, price definition, energy unit and time
Last update: 2021-10-05T08:00:00

['AARSFORBRUG', 'PRISDEFINITION', 'ENERGIENHED', 'Tid']

In [37]:
# Get an overview of all variable names of the data
for variable_name in [x for x in household_electricity_prices.tablesummary(language = 'en')['variable name']]:
    print(household_electricity_prices.variable_levels(variable_name, language = 'en'))
    print('\n')

Table ENERGI1: Prices of electricity for households by annual consumption, price definition, energy unit and time
Last update: 2021-10-05T08:00:00
  id                         text
0  1      Consumption below 1 MWh
1  2    Consumption 1.0 - 2.4 MWh
2  3    Consumption 2.5 - 4.9 MWh
3  4   Consumption 5.0 - 14.9 MWh
4  5  Consumption 15 MWh and over


   id                                             text
0  20           Price energy og distribution (level 1)
1  21  Price including non-recoverable taxes (level 2)
2  22     Price inkluding paid taxes and VAT (level 3)


    id                   text
0  KWH  Kilo Watt Hours (kWh)
1   GJ         Gigajoule (GJ)


        id    text
0   2015H1  2015H1
1   2015H2  2015H2
2   2016H1  2016H1
3   2016H2  2016H2
4   2017H1  2017H1
5   2017H2  2017H2
6   2018H1  2018H1
7   2018H2  2018H2
8   2019H1  2019H1
9   2019H2  2019H2
10  2020H1  2020H1
11  2020H2  2020H2
12  2021H1  2021H1

## Getting the data

In [55]:
# Choose variable names
variable_names = [x for x in household_electricity_prices.tablesummary(language = 'en')['variable name']]
variable_names[0]
variable_names[-1]

Table ENERGI1: Prices of electricity for households by annual consumption, price definition, energy unit and time
Last update: 2021-10-05T08:00:00

'Tid'

In [58]:
# Choose and index for your variable name
household_electricity_prices.variable_levels(variable_names[0], language = 'en')

  id                         text
0  1      Consumption below 1 MWh
1  2    Consumption 1.0 - 2.4 MWh
2  3    Consumption 2.5 - 4.9 MWh
3  4   Consumption 5.0 - 14.9 MWh
4  5  Consumption 15 MWh and over

In [62]:
# Choose and index for your variable name
household_electricity_prices.variable_levels(variable_names[1], language = 'en')

   id                                             text
0  20           Price energy og distribution (level 1)
1  21  Price including non-recoverable taxes (level 2)
2  22     Price inkluding paid taxes and VAT (level 3)

In [64]:
# using request
par_table = 'energi1'
par_format = 'BULK'

params = {
    'table': table,
   bb 'format': par_format,
    'variables': [
        {'code': variable_names[0], 'values': ['1']},
        {'code': variable_names[1], 'values': ['20']},
        {'code': variable_names[2], 'values': ['GJ']},
        {'code': variable_names[3], 'values': ['*']}
    ]
}
r = requests.post('https://api.statbank.dk/v1' + '/data', json=params)
print(r.text[:1100])

AARSFORBRUG;PRISDEFINITION;ENERGIENHED;TID;INDHOLD
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2015H1;300,9100
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2015H2;290,0500
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2016H1;291,4700
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2016H2;305,1600
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2017H1;312,8900
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2017H2;307,6600
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2018H1;327,1100
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2018H2;349,6700
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2019H1;337,3400
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2019H2;340,0800
Forbrug under 1 MWh;Pris for energi og distribution (niveau 1);Gigajoule (GJ);2020H1;322,4600
For

In [65]:
pd.read_table(StringIO(r.text), sep=';').head()

,AARSFORBRUG,PRISDEFINITION,ENERGIENHED,TID,INDHOLD
0,Forbrug under 1 MWh,Pris for energi og distribution (niveau 1),Gigajoule (GJ),2015H1,"300,9100"
1,Forbrug under 1 MWh,Pris for energi og distribution (niveau 1),Gigajoule (GJ),2015H2,"290,0500"
2,Forbrug under 1 MWh,Pris for energi og distribution (niveau 1),Gigajoule (GJ),2016H1,"291,4700"
3,Forbrug under 1 MWh,Pris for energi og distribution (niveau 1),Gigajoule (GJ),2016H2,"305,1600"
4,Forbrug under 1 MWh,Pris for energi og distribution (niveau 1),Gigajoule (GJ),2017H1,"312,8900"

### Specify time interval

In [71]:
id_time = [x for x in household_electricity_prices.variable_levels(variable_names[-1], language = 'en')['id']]
id_time

['2015H1',
 '2015H2',
 '2016H1',
 '2016H2',
 '2017H1',
 '2017H2',
 '2018H1',
 '2018H2',
 '2019H1',
 '2019H2',
 '2020H1',
 '2020H2',
 '2021H1']

In [72]:
params = {
    'table': par_table,
    'format': par_format,
    'lang': 'en',
    'variables': [
        {'code': variable_names[0], 'values': ['1']},
        {'code': variable_names[1], 'values': ['20']},
        {'code': variable_names[2], 'values': ['GJ']},
        {'code': variable_names[3], 'values': [f'>{id_time[4]}<={id_time[8]}']}
    ]
}
df = pd.read_csv(
    StringIO(
        requests.post('https://api.statbank.dk/v1' + '/data', json=params).text
    ), sep=';'
)

In [73]:
df

,AARSFORBRUG,PRISDEFINITION,ENERGIENHED,TID,INDHOLD
0,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2017H2,307.66
1,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2018H1,327.11
2,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2018H2,349.67
3,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2019H1,337.34

In [76]:
# using the DstApi
# will then return your request directly as pandas dataframe
household_electricity_prices.get_data(params=params)

,AARSFORBRUG,PRISDEFINITION,ENERGIENHED,TID,INDHOLD
0,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2017H2,307.6600
1,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2018H1,327.1100
2,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2018H2,349.6700
3,Consumption below 1 MWh,Price energy og distribution (level 1),Gigajoule (GJ),2019H1,337.3400

## Help with defining basic parameters

In [77]:
household_electricity_prices._define_base_params(language='en')

{'table': 'energi1',
 'format': 'BULK',
 'lang': 'en',
 'variables': [{'code': 'AARSFORBRUG', 'values': ['*']},
  {'code': 'PRISDEFINITION', 'values': ['*']},
  {'code': 'ENERGIENHED', 'values': ['*']},
  {'code': 'Tid', 'values': ['*']}]}